*.suo
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
*.exe
C#/GetBankAccountInfo/GetBankAccountInfo/bin/Debug/GetBankAccountInfo.exe.config
*.cache
C#/GetBankAccountInfo/GetBankAccountInfo/obj/Debug/GetBankAccountInfo.csproj.FileListAbsolute.txt
*.v2
C#/EncryptDecryptApp/EncryptDecryptApp/bin/Debug/netcoreapp3.1/EncryptDecryptApp.deps.json
*.pdb
C#/EncryptDecryptApp/EncryptDecryptApp/bin/Debug/netcoreapp3.1/EncryptDecryptApp.runtimeconfig.dev.json
*.txt
C#/EncryptDecryptApp/EncryptDecryptApp/obj/Debug/netcoreapp3.1/EncryptDecryptApp.dll
C#/AddCustomerValidator/AddCustomerValidator/obj/Debug/.NETFramework,Version=v4.0.AssemblyAttributes.cs
*.props
C#/EncryptDecryptApp/EncryptDecryptApp/obj/EncryptDecryptApp.csproj.nuget.g.targets
*.json
C#/GetBankAccountInfo/GetBankAccountInfo/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
*.dll
C#/EncryptDecryptApp/.vs/EncryptDecryptApp/v16/.suo
*.v2
*.suo
C#/EncryptDecryptApp/EncryptDecryptApp/obj/Debug/netcoreapp3.1/EncryptDecryptApp.AssemblyInfo.cs
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/EncryptDecryptApp/EncryptDecryptApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
*.v2
C#/EncryptDecryptApp/.vs/EncryptDecryptApp/v16/.suo
*.suo
*.suo
C#/EncryptDecryptApp/.vs/EncryptDecryptApp/v16/.suo
*.suo
C#/EncryptDecryptApp/.vs/EncryptDecryptApp/v16/.suo
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
*.suo
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
*.v2
C#/Random/FizzBuzz/.vs/FizzBuzz/v16/.suo
*.targets
C#/Random/MyChessBoard/.vs/MyChessBoard/config/applicationhost.config
*.config
*.xml
C#/Random/MyChessBoard/MyChessBoard/bin/roslyn/csc.rsp
*.rsp
*.user
C#/Random/MyChessBoard/MyChessBoard/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
C#/Random/MyChessBoard/MyChessBoard/obj/Debug/MyChessBoard.csproj.CopyComplete
*.suo
C#/Random/FizzBuzz/.vs/FizzBuzz/DesignTimeBuild/.dtbcache.v2
C#/Random/FizzBuzz/FizzBuzz/obj/Debug/netcoreapp3.1/FizzBuzz.AssemblyInfo.cs
*.user
C#/Random/MyChessBoard/MyChessBoard/MyChessBoard.csproj.user
C#/Random/NumberToRomanNumeral/NumberToRomanNumeral/obj/Debug/netcoreapp1.1/NumberToRomanNumeral.AssemblyInfo.cs
C#/Random/NumberToRomanNumeral/NumberToRomanNumeral/obj/Debug/netcoreapp1.1/.NETCoreApp,Version=v1.1.AssemblyAttributes.cs
C#/Random/TouramentPairing/TouramentPairing/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
C#/Random/MyChessBoard/MyChessBoard/MyChessBoard.csproj.user
C#/Random/FizzBuzz/FizzBuzz/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/Random/MyChessBoard/MyChessBoard/MyChessBoard.csproj.user
C#/Random/FizzBuzz/.vs/FizzBuzz/DesignTimeBuild/.dtbcache.v2
C#/Random/MyChessBoard/MyChessBoard/MyChessBoard.csproj.user
*.testlog
*.manifest
C#/AddCustomerValidator/App.1.2.dotCover
*.suo
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/WithdrawAndTransferFunds/WithdrawAndTransferFunds/obj/Debug/netcoreapp2.0/WithdrawAndTransferFunds.AssemblyInfo.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFunds/obj/Debug/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
*.tmp
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Debug/netcoreapp3.1/WithdrawAndTransferFundsTests.AssemblyInfo.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Debug/netcoreapp3.1/WithdrawAndTransferFundsTests.csproj.CopyComplete
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Debug/netcoreapp3.1/AddCustomerValidatorTests.AssemblyInfo.cs
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Debug/netcoreapp3.1/AddCustomerValidatorTests.csproj.CopyComplete
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Debug/netcoreapp3.1/GetBankAccountInfoTests.AssemblyInfo.cs
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Debug/netcoreapp3.1/GetBankAccountInfoTests.csproj.CopyComplete
C#/GetBankAccountInfo/.vs/GetBankAccountInfo/v16/.suo
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Debug/netcoreapp3.1/CustomersRESTAPI.AssemblyInfo.cs
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Debug/netcoreapp3.1/CustomersRESTAPITests.csproj.CopyComplete
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Debug/netcoreapp3.1/CustomersRESTAPITests.AssemblyInfo.cs
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Debug/netcoreapp3.1/CustomersRESTAPI.csproj.CopyComplete
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Debug/netcoreapp3.1/PractiseSOLIDPrinciplesAppTests.csproj.CopyComplete
*/obj/Debug/netcoreapp3.1
C#/AddCustomerValidator/AddCustomerValidator/obj/Release/.NETFramework,Version=v4.0.AssemblyAttributes.cs
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Release/netcoreapp3.1/AddCustomerValidatorTests.AssemblyInfo.cs
C#/AddCustomerValidator/AddCustomerValidatorTests/obj/Release/netcoreapp3.1/AddCustomerValidatorTests.csproj.CopyComplete
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Release/netcoreapp3.1/CustomersRESTAPITests.csproj.CopyComplete
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Release/netcoreapp3.1/CustomersRESTAPITests.AssemblyInfo.cs
C#/CustomersRESTAPI/CustomersRESTAPITests/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Release/netcoreapp3.1/CustomersRESTAPI.csproj.CopyComplete
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Release/netcoreapp3.1/CustomersRESTAPI.AssemblyInfo.cs
C#/CustomersRESTAPI/CustomersRESTAPI/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/EncryptDecryptApp/EncryptDecryptApp/obj/Release/netcoreapp3.1/EncryptDecryptApp.AssemblyInfo.cs
C#/EncryptDecryptApp/EncryptDecryptApp/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Release/netcoreapp3.1/GetBankAccountInfoTests.csproj.CopyComplete
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Release/netcoreapp3.1/GetBankAccountInfoTests.AssemblyInfo.cs
C#/GetBankAccountInfo/GetBankAccountInfoTests/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/GetBankAccountInfo/GetBankAccountInfo/obj/Release/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Release/netcoreapp3.1/WithdrawAndTransferFundsTests.csproj.CopyComplete
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Release/netcoreapp3.1/WithdrawAndTransferFundsTests.AssemblyInfo.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFundsTests/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFunds/obj/Release/netcoreapp2.0/WithdrawAndTransferFunds.AssemblyInfo.cs
C#/WithdrawAndTransferFunds/WithdrawAndTransferFunds/obj/Release/netcoreapp2.0/.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
C#/GetBankAccountInfo/GetBankAccountInfo/Properties/AssemblyInfo.cs
FindPrimeNumbers/FindPrimeNumbers/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
FindPrimeNumbers/FindPrimeNumbers/obj/Debug/netcoreapp3.1/FindPrimeNumbers.AssemblyInfo.cs
C#/FindPrimeNumbers/FindPrimeNumbers/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/FindPrimeNumbers/FindPrimeNumbers/obj/Debug/netcoreapp3.1/FindPrimeNumbers.AssemblyInfo.cs
C#/FindPrimeNumbers/FindPrimeNumbersTests/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
C#/FindPrimeNumbers/FindPrimeNumbersTests/obj/Debug/netcoreapp3.1/FindPrimeNumbersTests.AssemblyInfo.cs
C#/FindPrimeNumbers/FindPrimeNumbersTests/obj/Debug/netcoreapp3.1/FindPrimeNumbersTests.csproj.CopyComplete
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/alpine-x64/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-arm/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-arm64/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-armel/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-mips64/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-x64/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/linux-x86/native/libe_sqlite3.so
C#/LukeMooresWebsite/LukeMooresWebsite/bin/Debug/net5.0/runtimes/osx-x64/native/libe_sqlite3.dylib
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/LukeMooresWebsite.AssemblyInfo.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/LukeMooresWebsite.csproj.CopyComplete
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/LukeMooresWebsite.GeneratedMSBuildEditorConfig.editorconfig
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/LukeMooresWebsite.RazorAssemblyInfo.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/LukeMooresWebsite.RazorTargetAssemblyInfo.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/API/Index.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Contact/Index.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Experience/Index.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Shared/_Layout.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Shared/_ValidationScriptsPartial.cshtml.g.cs
C#/LukeMooresWebsite/LukeMooresWebsite/obj/Debug/net5.0/Razor/Views/Shared/Error.cshtml.g.cs
C#/CountdownWordFinder/CountdownWordFinder/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
C#/CountdownWordFinder/CountdownWordFinder/obj/Debug/net5.0/CountdownWordFinder.GeneratedMSBuildEditorConfig.editorconfig
C#/CountdownWordFinder/CountdownWordFinder/obj/Debug/net5.0/CountdownWordFinder.AssemblyInfo.cs
/C_Sharp/AutoTradeSystem/.vs
