@model LukeMooresWebsite.Models.AboutModel

@{
    ViewData["Title"] = "About";
}
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/js/Home.js" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {
        WireEvents();
    });

    function WireEvents() {
        var button = $('#ShowMoreLess');
        button.click(function () {
            ShowMoreLess(button);
        });
    }
</script>

<div class="text-center">
    <h1 class="display-4">About Me</h1>
    <div id="LukePicContainer">
        <img id="LukePic" src="~/images/Luke.jpg" />
    </div>
    <div id="divAbout">

        <p>My name is Luke Moore</p>
        <p>I am a Smart, Hard Working and Motivated Software Developer with @Model.Experience experience. Looking to gain more experience with different technologies and improve my skills</p>
        <p>At University I studied a Masters Degree in Physics. In 2016 I graduated with a First Class Degree from the University of Kent, Canterbury</p>
        <p>It was during my time at university that I first gained exposure to computer programming. I found that I really enjoyed it, so much so that I began doing extra coding outside of class, just for fun</p>
        <p>I designed and built this website myself to showcase my knowledge and experience. It was also just a fun project to work on</p>
        <p>In my free time as well as working on coding projects like this I also enjoy playing Chess. In my final year of Study I was the President of the University of Kent's Chess Society. I also have a Chess themed Youtube channel, where I make instructional videos teaching the less experienced players how to improve</p>

    </div>

    <button id="ShowMoreLess" type="button" class="btn btn-primary btn-lg" title="ShowMore/Less">Show More About this Site</button>

    <div id="AboutSite" class="hide">
        <p>You will notice several pages from the tabs at the top of the screen, these include;</p>

        <p><a asp-area="" asp-controller="Experience" asp-action="Index">Experience</a>, This page will give all the details of my work experience and technologies I have worked with</p>

        <p><a asp-area="" asp-controller="API" asp-action="Index">API</a>, This page will showacase an API that I made for this website, visit the api page to learn more</p>

        <p><a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>, This page will give you a way of contacting me if you want to reach out</p>
    </div>

</div>
