@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>If you want to get in touch with me my email address is luke.d.moore1@gmail.com</p>

<p>Connect with me on LinkedIn, my profile is <a href="https://www.linkedin.com/in/luke-d-moore/">here</a></p>
